<h1>Getcha Burgers!</h1>

<p>Created</p>
<ul>
    {{#each burgers}}
    {{#unless this.devoured}}
    <li>
        {{this.burger_name}}
        <button class='devourButton' data-id="{{this.id}}">Devour</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<p>Consumed</p>
<ul>
    {{#each burgers}}
    {{#if this.devoured}}
    <li>
        {{this.burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

