<div class="container">
  <div class="row">
    <h1 class="display-1 mx-auto pb-3">Getcha Burgers!</h1>
  </div>
  <div class="row">
    <img class="img-fluid rounded-circle shadow-lg mx-auto" src="./assets/img/burger.jpg" alt="burger">
  </div>




  <div class="row pt-5">
    <div class="col">
      <form class="form-inline">
        <div class="form-group mb-5 mt-4">
          <label for="New Burger">Add a New Burger to the menu</label>
          <div class="form-group mx-sm-3">
            <input type="text" class="form-control" id="addInput">
          </div>
          <div class="form-group mx-sm-3">
            <button type="submit" class="btn btn-dark" id="addBurger">Add Burger</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card">

        <h3 class="mx-auto">Created</h3>
        <ul class="list-group">
          {{#each burgers}}
          {{#unless this.devoured}}
          <li class="list-group-item">
            <div class="row d-flex justify-content-between">
              {{this.burger_name}}
              <button type="submit" class='devourButton btn bg-dark' data-id="{{this.id}}">
                <i class="fas fa-hamburger text-warning"></i>
              </button>
            </div>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <h3 class="mx-auto">Consumed</h3>
        <ul class="list-group">
          {{#each burgers}}
          {{#if this.devoured}}
          <li class="list-group-item">
            {{this.burger_name}}
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>